<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chatbot GPT</title>
    <link href="/chat/static/styles.css" rel="stylesheet" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="chat-container" id="chatContainer">
      <div class="chat-messages-container" id="chatMessages">
        <div class="chat-messages" id="chatMessages">
          <!-- As mensagens serão exibidas aqui -->
        </div>
      </div>
    </div>

    <div class="chat-input-area">
      <button class="icon-button" id="trainButton">
        <i class="fas fa-sync-alt"></i>
      </button>

      <form id="chatForm">
        <input type="text" id="pergunta" placeholder="Digite sua pergunta..." required />
        <button type="submit" id="sendButton">
          <i class="fas fa-paper-plane"></i>
        </button>
      </form>
    </div>

    <script src="/chat/static/script.js"></script>
  </body>
</html>
