/* Estilos de layout */
body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #396097;
    color: white;
    font-family: Arial, sans-serif;
    overflow: hidden;
    /* Impede a rolagem global da página */
}

.chat-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #202226;
    padding: 50px;
    height: 100%;
    overflow: auto;

}

.chat-messages {
    margin: 5px;
    background-color: #202226;
    flex-grow: 1;
    /* Permite que o chat-messages cresça e ocupe o espaço */
    overflow-y: auto;
    /* Habilita o scroll vertical */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

.message {
    max-width: 75%;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    line-height: 1.4;
    position: relative;
}

.word {
    display: inline-block;
    opacity: 0;
    animation: fadeInWord 0.1s forwards;
    margin-right: 5px;
}

@keyframes fadeInWord {
    to {
        opacity: 1;
    }
}

.user-message {
    background-color: #2563eb;
    color: white;
    align-self: flex-end;
    text-align: right;
    border-radius: 20px;
    padding: 15px;
}

.user-message::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -10px;
    width: 0;
    height: 0;
    border-left: 10px solid #2563eb;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    transform: translateY(-50%);
}

.bot-message {
    background-color: #374151;
    color: white;
    align-self: flex-start;
    text-align: left;
    border-radius: 20px;
    padding: 15px;
    position: relative;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

.bot-message::after {
    content: '';
    position: absolute;
    top: 50%;
    left: -10px;
    width: 0;
    height: 0;
    border-right: 10px solid #374151;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    transform: translateY(-50%);
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.chat-input-area {
    display: flex;
    padding: 10px;
    background-color: #1f2937;
    border-top: 1px solid #2d3748;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    box-sizing: border-box;
}

.icon-button {
    background-color: #2563eb;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.icon-button:hover {
    background-color: #3b82f6;
}

form {
    display: flex;
    width: 100%;
    align-items: center;
}

input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #2d3748;
    color: white;
    margin-right: 10px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #2563eb;
    border: none;
    padding: 10px;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #3b82f6;
}